---
layout: page
title: "My CV"
description: "My CV"
header-img: "img/post-bg-stockholm.jpg"
---

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
<link rel="stylesheet" type="text/css" href="jemdoc.css">
</head>
<!--请在本行下面空白处编写自己的代码-->

<div id="layout-content">
<p><br /></p>
<h1><b>Tianlin He</b></h1>
<b>Marie-Curie PhD Fellow</b> <br /> </p>
<p><a href="http://www.cise.ufl.edu/" target=&ldquo;blank&rdquo;>Programme Cardiorenal Syndrome Analysis (CaReSyAn) </a><br />
<a href="http://www.ufl.edu/" target=&ldquo;blank&rdquo;>Mosaiques Diagnostics GmbH</a> <br />
<br /> </p>
<p><b>Email:</b> tinaho_ok[at]hotmail.com<br />
<p><b>Tel:</b> +49 15 222 100 431<br />
<p><b>Address:</b> MOS Rotenburger str. 30659 Hanover, Germany
<p><br /> <br /></p><h2>Education</h2>

<ul>
<li><h3>11/2018-present &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp RWTH Aachen University, Germany</h3>
<p>Industrial PhD placement 
</p>

</p>
<li><h3>8/2016-6/2018 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp KTH Royal Institute of Technology, Karolinska Institutet, Stockholm University Sweden</h3>

<p>Joint master degree in Molecular Techniques in Life Sciences<br />
<b>Courses:</b> &nbspMATLAB project of car muffler; &nbspSignals and Mechanical System;<br /> 
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCommunication and Control in Electric Power System

</p>
<li><h3>9/2012-6/2016 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp The Chinese University of Hong Kong</h3>
<p>Bachelor of Science with major in Molecular Biotechnology and minor in German<br />
Grade:90/100 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Class Rank:1/34 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Department Rank: 2/69
</p>
</ul>


<h2>Recent Updates</h2>
<div class="infoblock">
<div class="blockcontent">
<ul>
<li><p>[09/2018 ] I am working with <a href="https://people.clas.ufl.edu/yun/files/cv18-2.pdf" target=&ldquo;blank&rdquo;>Dr. Yunmei Chen</a> on ISTA-Net<sup>+</sup>. </p>
</li>
<li><p>[08/2018 ] Employed as grader of graduate course <a href="https://www.cise.ufl.edu/class/cot5405fa18/" target=&ldquo;blank&rdquo;>Analysis of Algorithms</a> in CISE.</p>
</li>
<li><p>[08/2018 ] I have finished the first draft of our paper <i>Single-Shot Detector in medical image</i> with <a href="https://www.cise.ufl.edu/people/faculty/ctoler-franklin" target=&ldquo;blank&rdquo;>Dr. Toler-Franklin</a>. It is expected to be submitted toward CVPR 2019.</p>
</li>
<li><p>[08/2018 ] New semester (Fall 2018) starts.</p>
</li>
<li><p>[05/2018 ] I'm working with <a href="https://www.cise.ufl.edu/people/faculty/ctoler-franklin" target=&ldquo;blank&rdquo;>Dr. Toler-Franklin</a> on <i>Single-Shot Detector</i> through the summer.</p>
</li>
<li><p><a href="" target=&ldquo;blank&rdquo;>More updates</a>...</p>
</li>
</ul>
</div></div>


<h2>Research Experience</h2>

<ul>

<h3>8/2018-present &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Iterative Shrinkage-Thresholding Algorithm (ISTA) Network<sup>+</sup></h3>
<li><p>Directed by <a href="https://people.clas.ufl.edu/yun/files/cv18-2.pdf" target=&ldquo;blank&rdquo;>Dr. Yunmei Chen</a>, Distingushed Professor of Mathematics. </p></li>
<li><p>Replaced Lasso in non-convex ISTA-Net<sup>+</sup> with Minimum Concave Penalty (MCP). Proposed Multi-Scale Sparsity and Momentum-like Reverse Connection.</p></li>
<li><p>Experiment showed PSNR increased about 0.5% compared to ISTA-Net+ in image reconstruction and compressive sensing. Paper is expected to submit to MIDL 2019, MICCAI.</p></li>

<h3>11/2017-11/2018 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Single-Shot Detector for Modeling Bio-Medical Data</h3>
<li><p>Solved the prior anchor boxes for Single-Shot MultiBox Detector under equal-proportion interval principle in deep convolution neural networks.</p></li>
<li><p>Designed Foveal Context-integrated Detection Module: cascade residual-inception module with local context information and deconv module with broader background information.</p></li>
<li><p>Directed by <a href="https://www.cise.ufl.edu/people/faculty/ctoler-franklin" target=&ldquo;blank&rdquo;>Dr. Toler-Franklin</a> of Computer Science. The detection accuracy increased by 2.4% in indistinguishable tumors. Paper was submitted to CVPR 2019.</p></li>

<h3>7/2017-8/2017 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp The Application of Instance Segmentation in Autonomous Vehicles</h3>
<li><p>Short-term summer research with Associate Dr. Xuefeng Zhu in Dalian University of Technology.</p></li>
<li><p>This research is aimed to investigate the application of simultaneous objects detection and segmentation in assisting self-piloting automobiles. The deep-learning scene parsing was achieved in <i>Caffe</i>, while the training set and the validation set are the real road scene images.</p></li>

<h3>2/2017-6/2017 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Heterogeneous Collaborative CAD Framework Research and Implementation &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspof Auto Structure Parts</h3>
<li><p>A heterogeneous collaborative platform for CAD was established. The platform is based on COMX (A simplified Component Object Model for X Platforms), and the message transmission is achieved by self-defined simplified NMC (Neural Modeling Command). Per the demand of users, personalized UI and functional module are implemented in UGNX and CATIA through secondary development.
<li><p>We creatively put forward a conflict management strategy in heterogeneous collaborative design based on the deep learning.
<li><p>The thesis was under the supervision of Dr. Xiangkui Zhang in Dalian University of Technology.

<h3>3/2015-4/2016 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Method of Improving the Efficiency of Solar Panel on Vehicle through &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspLowering the Working Temperature</h3>
<li><p>Research proposal was successfully approved for National Undergraduate Innovation Project.
<li><p>Under the supervision of Dr. Wenbin Hou in Dalian University of Technology.
<li><p>Aimed to investigate the factors affecting solar battery cooling effiency, and the method of improving the efficiency through forecd convection and transpiration. Considered this both under theoretical conditions and practical engineering.
</p>
</ul>

<h2>Work Experience</h2>
<ul>
<li><p><i>Grader</i>, Analysis of Algothms (graduate course), 2018.8-present<br />
Instructor: <a href="https://www.cise.ufl.edu/people/faculty/ungor/" target=&ldquo;blank&rdquo;>Dr. Alper Ungor</a>, Computer Science, University of Florida <br /> </p>
</li>
</ul>
<ul>
<li><p>Graphics, Imaging & Light Measurement (GILM) Lab, 2017.11-2018.11<br />
Supervisor: <a href="https://www.cise.ufl.edu/people/faculty/ctoler-franklin" target=&ldquo;blank&rdquo;>Dr. Toler-Franklin</a>, Computer Science, University of Florida<br /> </p>
</li>
</ul>


<h2>Selected Publications</h2>
<h3>2016</h3>
<ul>
<li><p><i>Patent</i>, the System to Lower the Working Temperature on Solar Panel Vehicle,<br />
Winbin Hou, <b>Qingchao Zhang</b>, Baoquan Liu, and Zhilong Liu et al., 2016.8.<br /> </p>
</li>
</ul>
<h3>2015</h3>
<ul>
<li><p><i>Patent</i>, Table Tennis Training Machine,<br />
Yang Zhang, Tao Wang, Zhouquan Fu, and <b>Qingchao Zhang</b> et al., 2015.6.<br /> </p>
</li>
</ul>



<h2>Selected Honors &amp; Awards</h2>
<h3>Postgraduate</h3>
<p>Herbert Wertheim College of Engineering Achievement Award Scholarship, 2017</p>
<h3>Undergraduate</h3>
<p>Excellent Bachelor Graduates Award at DUT, 2017 										                        <br />
Excellent Student Award, 2016 <br />
Learning Excellent Award, 2013-2016,    (<b>three times</b>)                         <br />                                
Third Prize Award, Chou Peiyuan National Mechanical Competition, 2015													<br />
First Prize Award,  the Energy Conservation Technological Competition (<b>Top 3%</b>), 2015 <br />
Technological Innovation Award, 2015<br />
NISSAN Corporation Scholarship, 2015</p>
   
<h2>Skills</h2>
<h3>Programming Languages</h3>
<ul>
<li><p>C, C++, Java, Python</p>
</li>
</ul>
<h3>Software Packages</h3>
<ul>
<li><p>Latex, MATLAB, Catia, UGNX, ANSYS </p>
</li>
</ul>
<h3>Operating Systems</h3>
<ul>
<li><p>Linux, Microsoft Windows</p>
</li>
</ul>

<h2>Extracurricular Activities</h2>

<h3>DUT Ghost Fomula Racing Car Development Team</h3>
<p>As the chief member of the Dalian University of Technology (DUT) Ghost Formula Racing Car Development Team, under the supervision of senior engineer Xiaoqiang Han, took charge of the design and manufacturing of the carbon fiber package, mainly including the front wing, the rear wing and the diffuser.  </p>
<h3>Assocation of College Students' Psychological Health</h3>
<p>As the vice minister of the Association of College Students' Psychological Health in Dalian University of Technology, I was in charge of psychological interviews and questionnaires, and providing conseling for students in need.</p>

<h3>Volunteering at the 9<sup>th</sup> ICPT Event</h3>
<p>Volunteered in the 9<sup>th</sup> International Conference on Road and Airfield Pavement Technology, assisting with the registration process and administration.</p>


<h2>&nbsp;</h2>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
